<div class="thumbnail book">
    <img class="cover" {{bind-attr src='book.coverPage' alt="cover"}}/>

    <div class="caption">
        <h3>{{book.title}}</h3>

        <p><b>Author:</b> {{book.author}}<br/></p>

        <p><b>Publisher:</b> {{book.publisher}}<br/></p>

        <p><b>Published: </b>{{book.year}}<br/></p>

    </div>
</div>
