<div class="thumbnail book">
    <img {{bind-attr src='book.coverPage' alt="cover"}}/>

    <div class="caption">
        <h3>{{book.title}}</h3>

        <p><b>Author:</b> {{book.author}}<br/></p>

        <p><b>Veröffentlicht: </b>{{book.year}}<br/></p>

        <p><b>Verlag:</b> {{book.publisher}}<br/></p>

    </div>
</div>
