

<div class="thumbnail book">

  {{#if book.coverPage}}
      <img class="cover" {{bind-attr src='book.coverPage' alt="cover"}}/>
  {{else}}
      <img class="cover" src='/assets/images/no-cover.png' alt="cover"/>
  {{/if}}

    <div class="book-data">
        <h3>{{book.title}}</h3>

        <p><b>Author:</b> {{#if book.authors}}{{book.authors}}{{else}} n/a {{/if}}<br/></p>

        <p><b>Publisher:</b> {{#if book.publisher}}{{book.publisher}}{{else}} n/a {{/if}}<br/></p>

        <p><b>Published: </b>{{#if book.year}}{{book.year}}{{else}} n/a {{/if}}<br/></p>
    </div>
    <div class="remove-overflow">
        <button {{action "removeBook" book.id}}  type="button"
                  class="btn btn-default btn-remove-book glyphicon glyphicon-trash"></button>
    </div>
</div>
