<div class="modal fade" id="really">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button {{action "resetSubmitButton"}} type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Sure?</h4>
            </div>
            <div class="modal-body">
                <p>Some fields are missing or not correct filled out! You really want to save the Book?</p>
            </div>
            <div class="modal-footer">
                <button {{action "resetSubmitButton"}} type="button" class="btn btn-default " data-dismiss="modal">No
                </button>
                <button {{action "submitBook" true}} type="button" class="btn btn-primary button-coloring">Yes I do
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="new-book panel panel-default">
    <div id="new-book-panel" class="panel-body">
        <form role="form" {{action "submitBook" false on="submit"}}>
            <div id="alert-container"></div>

            <div class="book-upload col-md-6">
                <h1>Add new Book</h1>


                <div class="form-group has-feedback">
                    <label class="control-label" for="title">Title</label>
                  {{input type="text" id="title" placeholder="Enter title" class="form-control" value=title aria-describedby="titleStatus"}}
                  {{#if title}}
                      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                      <span id="titleStatus" class="sr-only">(success)</span>
                  {{else}}
                      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                      <span id="titleStatus" class="sr-only">(error)</span>
                  {{/if}}
                </div>

                <div {{bind-attr class="authors:has-success:has-warning"}} class="form-group">
                    <label class="control-label" for="authors">Authors</label>
                  {{input id="authors" type="text" placeholder="Enter authors" class="form-control" value=authors aria-describedby="authorsStatus"}}
                </div>


                <div class="form-group has-feedback">
                    <label class="control-label" for="publisher">Publisher</label>
                  {{input type="text" placeholder="Enter publisher" class="form-control" value=publisher aria-describedby="publisherStatus"}}
                  {{#if publisher}}
                      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                      <span id="publisherStatus" class="sr-only">(success)</span>
                  {{else}}
                      <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                      <span id="publisherStatus" class="sr-only">(warning)</span>
                  {{/if}}
                </div>


                <div class="form-group has-feedback">
                    <label class="control-label" for="year">Year</label>
                  {{input type="text" size="4" maxlength="4" placeholder="Enter year" class="form-control" value=year aria-describedby="yearStatus"}}
                  {{#if yearVal}}
                      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                      <span id="yearStatus" class="sr-only">(success)</span>
                  {{else}}
                      <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                      <span id="yearStatus" class="sr-only">(warning)</span>
                  {{/if}}
                </div>


            </div>
                <div class="cover-upload col-md-6">
                    <div class="panel panel-default cover-upload-body">
                        <div class="panel-heading cover-heading">
                            <p class="inline panel-title branding-background-color">Cover (max 2.5MB)</p>
                            <button {{action "removeCover"}} id="remove-cover" type="button"
                                                             class="hidden btn btn-default btn-remove glyphicon glyphicon-trash"></button>
                        </div>
                        <div id="dropzone" class="panel-body fade well">

                          {{#if coverUrl}}
                              <img {{bind-attr src=coverUrl}} class="cover" alt="cover"/>
                          {{/if}}
                              <div id="dropzone-border" class="dropzone-border">
                                  <label id="cover-input-label" for="coverupload" class="btn btn-success fileinput-button">
                                      select cover
                                      <input id="coverupload" type="file" name="file">
                                  </label>
                              </div>


                        </div>
                    </div>
                </div>
            <div>
                <input id="submitbutton" data-loading-text="Loading..." type="submit" class="btn-lg button-coloring"
                       value="Submit Book">
            </div>
        </form>
    </div>
</div>
