<div class="input-group">
  {{input id="search-field" valueBinding='searchText' placeholder="Search"  class="form-control"}}
    <div class="input-group-btn">
        <button type="button" class="btn btn-default" {{action "search" on="click" }}>
            Search {{searchButtonText}}</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span></button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a {{action "select" "title"}}>Search title</a></li>
            <li><a {{action "select" "authors"}}>Search authors</a></li>
            <li><a {{action "select" "publisher"}}>Search publisher</a></li>
            <li><a {{action "select" "year"}}>Search year</a></li>
        </ul>
    </div>
</div>

<br>
<br>
{{#if isSearched}}

  {{#if model}}
      <div id="bookscontainer" class="bookcontainer">
          <div id="columns">
            {{#each}}
              {{one-book book=this}}
            {{/each}}
          </div>
      </div>
  {{else}}
      <div class='jumbotron'>
          <h1>No books found</h1>

          <p>There are no books that matches your query.</p>
      </div>
  {{/if}}

{{/if}}
